services:
  postgres:
    image: postgres:latest
    container_name: postgres
    volumes:
      - pg_data:/var/lib/postgresql/
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: es
    volumes:
      - es:/usr/share/elasticsearch/data
    environment:
      discovery.type: "single-node"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      xpack.security.enabled: "true"
      xpack.security.http.ssl.enabled: "false"
    ports:
      - "9200:9200"
      - "9300:9300"

  backend:
    image: chatapp-backend:latest
    container_name: backend
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      ELASTIC_USERNAME: ${ELASTIC_USERNAME}
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
      ELASTIC_URL: ${ELASTIC_URL}
    ports:
      - "8080:8080"
    volumes:
      - videos:/app/videos
      - uploads:/app/uploads
    depends_on:
      - postgres
      - elasticsearch

volumes:
  pg_data:
  es:
  videos:
  uploads:
