services:
  postgres:
    image: postgres:latest
    container_name: postgres
    volumes:
      - pg_data:/var/lib/postgresql/
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"

  backend:
    image: chatapp-backend:latest
    container_name: backend
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "8080:8080"
    volumes:
      - videos:/app/videos
      - uploads:/app/uploads
    depends_on:
      - postgres

volumes:
  pg_data:
  videos:
  uploads:
