set -a

JWT_SECRET="asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf"

DB_USER="someuser"
DB_PASSWORD="somepassword"
DB_NAME="somedbname"

ELASTIC_USERNAME="someusername"
ELASTIC_PASSWORD="somepassword"
ELASTIC_URL="http://elasticsearch:9200"
